<h1 class>Welcome to Admin Panel</h1>
<%=link_to "View Sectors", sectors_path, class: "btn btn-primary btn-lg mt-3 mx-2"%>
<%=link_to "View Types", types_path, class: "btn btn-primary btn-lg mt-3 mx-2"%>
<%=link_to "Job Requests", admin_job_requests_path, class: "btn btn-primary btn-lg mt-3 mx-2"%>