<h1>All job requests are listed</h1>

<div class="container mt-4">
    <%@jobs.each do |j|%>
        <% if j.approved_by == 0 %>    
            <li><%= link_to j.title, admin_job_show_path(j) %></li>
        <%end%>
    <%end%>
</div>