<h1 class = "text-center">List all Jobs</h1>
<div class="flickr_pagination d-flex justify-content-center mt-4">
    <%= paginate @jobs%>
</div>
<%=render 'jobs' %>
<div class="flickr_pagination d-flex justify-content-center mb-4">
    <%= paginate @jobs%>
</div>
