<div class="container mt-4">
    <h1>List all jobs</h1>

    <%@jobs.each do |j|%>
        <li><%= link_to j.title, job_path(j) %></li>
    <%end%>

    <%= link_to "Create a new Job", new_job_path %>
</div>