<h1 class = "text-center">Job Show</h1>
<div class="text-center container">
  <div class="row">
    <%= render 'job'%>
  </div>
  <div class="row mb-4">
      <%= render 'reviews/review'%>
  </div>
</div>

