
<div class="container">
    <h1 class = "text-center"> <i class="fa fa-users"></i>
       <p> Friends </p>
    </h1> 

    <div class="row">
        <div class="card col-8 chatbox position-relative">
            <div class="container mt-4" id = "message-container">  
                <%= render @messages%>
            </div>
            <div class="container position-absolute bottom-0 start-0">  
                <%= form_for(@message, html: {class: "input-group mb-3"}, url: message_path, method: "POST", remote: true) do |f|%>
                        <%= f.text_field :body, placeholder: "Write a message", class: "form-control"%>
                        <div class="input-group-append">
                            <%= f.button "Send", class: "btn btn-outline-secondary"%>
                        </div>
                <%end%>
            </div>   
        </div>
        <div class="col-4 ">
             <div class="card chatbox">
                <ul class="list-group bg-dark">
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Home
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Messages
                        <span class="badge bg-primary rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Friends
                        <span class="badge bg-primary rounded-pill">1</span>
                    </li>
                </ul>
            </div>
        </div>
  </div>
</div>