<div class="container mt-4">
    <h1>List all sectors</h1>

    <%@sectors.each do |s|%>
        <li><%= link_to s.name, sector_path(s) %></li>
    <%end%>

    <%= link_to "Create a new Sector", new_sector_path %>
</div>