<h1>This is Home page</h1>
<%=link_to "Users List", users_path%>
<% if !logged_in?%>
    <%=link_to "Sign Up", signup_path%>
    <%=link_to "Login", login_path%>
<%end%>
<%= link_to "Chatroom", chatroom_path%>