

.nav-link{
    color: green !important;
}

a{ 
    text-decoration: none !important;
    color: blue !important;
}

/* Chatbox */
#message-container{
    overflow: auto !important;
    height: 370px !important;
}

#message-submit{
   
}
