a{
    text-decoration: none !important;
    color: blue ;
}
body{
    background-color: rgba(255, 255, 255, 0.356);
}

.nav-link{
    color: green !important;
}

/* Chatbox */
#message-container{
    overflow: auto !important;
    height: 370px !important;
}

#message-submit{
   
}

.sector-card{
    display: inline-block !important;
}
