<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%=link_to "My Project Repo", "https://github.com/chandanbanerjee10/kreeti_rails_project", class: "text-white"%> </small>
    </div>
</footer>